$background-gradient: linear-gradient(0deg, rgba(63,161,221,1) 0%, rgba(83,8,88,1) 82%);
$border-gradient: linear-gradient(90deg, rgba(97,19,77,1) 0%, rgba(114,9,121,1) 31%, rgba(73,170,204,1) 100%);
$primary-color: #FFF;
$secondary-color: #000;
$special-color: rgba(73,170,204,1);
$main-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$secondary-font: 'Oleo Script', cursive;


@mixin inputDate{
  max-width: 45px;
  height: 50px;
  outline: none;
  border: none;
  border-radius: 5px;
  border-left: 2px solid $primary-color;
  border-bottom: 2px solid $primary-color;
  border-right: 2px solid $primary-color;
  background-color: rgba($primary-color,.4);
}

@function get-opacity($color,$opacity){
    @return rgba($color,$opacity)
}


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
  background:$background-gradient ;
  color: $primary-color;
  font-family: $main-font;
}

.recommend--logo{
  width: 50px;
}
.petro--picture{
  width: 60px;
  border-radius: 50%;
}

.header{
  width: 100%;
  padding: 10px 0 ;
  text-align: center;
  // background: get-opacity( $primary-color, .05);

    h2{
      font-size: 2.5rem;
      font-family: $secondary-font;
      text-shadow: 0 0 8px  $secondary-color;
    }
}
.app{
  width: clamp(280px,90%,580px);
  min-height: 600px;
  margin: 50px auto 0 auto;
  padding: 10px;
  border: 3px solid $primary-color;
  border-radius: 10px;

    .legend{
      margin: 0 auto;
      padding: 0 10px;
      font-size: 2rem;
      font-weight: bold;
    }
}

.app__container{
  min-height: 500px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;

  .app__title{
    font-size: 1.5rem;
    text-align: center;
    text-shadow: 0 0 8px  $secondary-color;
  }
}

.form__date{
  // margin: 40px 0 ;
  width: 100%;
  display: flex;
  justify-content: space-evenly;

    label{
      position: relative;
    }
    

    span{
      position: absolute;
      left: 50%;
      bottom: 100%;
      transform: translate(-50%, 0);
      font-weight: bold;
      opacity: 0;
      transition: .5s opacity;
    }

    input{
      @include inputDate;
      text-align: center;
      font-size: 1.1rem;
      color: $primary-color;
      font-weight: bold;
    }
    input:focus + span{
      opacity: 1;
    }
    input::-webkit-input-placeholder{
      text-align: center;
      font-size: 1.1rem;
      color: $primary-color;
      font-weight: bold;
    }
}
.send--button{
  position: relative;
  padding: 10px 15px;
  outline: none;
  border: 2px solid $primary-color;
  border-radius: 25px;
  background: $special-color;
  color: $primary-color;
  font-size: 1.1rem;
  font-weight: bold;


}